*~
.ICEauthority
.PlayOnLinux/
.Skype/
.adobe/
.android/
.aptitude/
.bash_history
.bash_logout
.bashrc
.bashrc~
.bazaar/
.bcast/
.bluefish/
.bogofilter/
.bzr.log
.c590.vcf
.cache/
.camel_certs/
.ccache/
.config/
.cups/
.dbshell
.dbus/
.designer/
.dia/
.distcc/
.dput.cf
.dropbox/
.dvdcss/
.easytag/
.eclipse/
.emacs.d/
.envs/
.erlang.cookie
.erlang_history
.esd_auth
.esense/
.fltk/
.fontconfig/
.fonts.conf
.fonts/
.freemind/
.gbp.conf
.gconf/
.gconfd/
.gegl-0.0/
.gem/
.gftp/
.gimp-2.6/
.gimp-2.8/
.git-prompt.conf
.gitconfig
.gitk
.gksu.lock
.gnash/
.gnome2/
.gnomint/
.gnupg/
.gscriptor
.gstreamer-0.10/
.gtk-bookmarks
.hplip/
.icedove/
.icedtea/
.inkscape/
.java/
.kde/
.lesshst
.lftp/
.libreoffice/
.lives
.lives-dir/
.local/
.macromedia/
.mission-control/
.mozilla/
.mplayer/
.mysql_history
.navit/
.npm/
.offlineimap/
.offlineimaprc
.openarena/
.openshot/
.osc_cookiejar
.oscrc
.oscrc.bak
.phoronix-test-suite/
.pip/
.pki/
.profile
.pulse-cookie
.pulse/
.repoconfig/
.repopickle_.gitconfig
.revelation
.rnd
.sane/
.shotwell/
.ssh/
.subversion/
.swfinfo
.tasque.log
.temp-nxhtml-browse.htm
.temp-nxhtml-browse_flymake.htm
.texlive2012/
.texmf-var/
.thumbnails/
.thunderbird/
.tvdownloader/
.unison..Xauthority.e9a751a35375b24f781ebae28915ab52.unison.tmp
.unison..bash_history.e9a751a35375b24f781ebae28915ab52.unison.tmp
.unison..xsession-errors.e9a751a35375b24f781ebae28915ab52.unison.tmp
.unison.unison.log.e9a751a35375b24f781ebae28915ab52.unison.tmp
.unison/
.virsh/
.virt-manager/
.virtinst/
.virtualenvs/
.wine/
.winff/
.wolf4sdl/
.wxglade/
.xbmc/
.xchat2/
.xsession-errors
.xsession-errors.old
AA_lizenn/
AB_Partenaires/
AD_Developpement/
AE_Reseau_Veille/
AZ_Veille/
Bureau/
Documents/
Dropbox/
Images/
Musique/
Téléchargements/
Vidéos/
bin/
.wireshark
